DJANGO_SECRET_KEY=your_secret_key_here
DEBUG=      
ALLOWED_HOSTS=

ACCESS_TOKEN_LIFETIME= 
REFRESH_TOKEN_LIFETIME=  
JWT_SECRET_KEY= 
JWT_ALGORITHM=

POSTGRES_DB=
POSTGRES_USER=      
POSTGRES_PASSWORD=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST=
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
